/*CONTAINERS*/
.container {
  width: 1200px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}
/*COLUMNS*/
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: calc(100% / 3);
  float: left;
}
.col-1-4 {
  width: calc(100% / 4);
  float: left;
}
.col-1-5 {
  width: calc(100% / 5);
  float: left;
}
.col-2-3 {
  width: calc((200% / 3));
  float: left;
}
/*FLOATS*/
.right {
  float: right;
}
.left {
  float: left;
}
/*CLEAR*/
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
/*FONT STYLES*/
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
