html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
country-header,
country-title,
country-places,
country-about,
country-clime,
country-thumb,
country-map,
country-facts,
country-stats,
country-economics {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
a {
  outline: none;
  text-decoration: none;
}
button::-moz-focus-inner {
  border: 0;
}
* {
  box-sizing: border-box;
}
/*CONTAINERS*/
.container {
  width: 1200px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}
/*COLUMNS*/
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: calc(100% / 3);
  float: left;
}
.col-1-4 {
  width: calc(100% / 4);
  float: left;
}
.col-1-5 {
  width: calc(100% / 5);
  float: left;
}
.col-2-3 {
  width: calc((200% / 3));
  float: left;
}
/*FLOATS*/
.right {
  float: right;
}
.left {
  float: left;
}
/*CLEAR*/
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
/*FONT STYLES*/
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
/*COLORS*/
html {
  font-size: 10px;
}
@font-face {
  font-family: 'Calibri Light';
  src: url("../fonts/calibril.ttf");
}
body {
  background-color: #f5f5f5;
  font-family: 'Calibri Light', sans-serif;
  height: 100%;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-animation: Fade 0.6s 1 ease-in-out forwards;
  -moz-animation: Fade 0.6s 1 ease-in-out forwards;
  animation: Fade 0.6s ease-in-out;
}
nav ul {
  background-color: #00B2EE;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
}
nav ul li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
nav ul li a {
  color: #fff;
}
nav .dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}
nav .dropdown li {
  display: block;
}
main {
  margin-top: 80px;
}
main .country-embed {
  background: white;
  padding: 0 10px;
}
main country-title {
  text-align: center;
  margin: 0 -10px;
}
main country-title h3 {
  padding: 10px;
  background-color: #00B2EE;
  color: #fff;
  font-size: 4rem;
}
main country-title p {
  margin: 20px auto;
  font-size: 2.8rem;
  font-style: italic;
}
main country-header,
main country-thumb,
main country-map {
  text-align: center;
  padding-right: 15px;
  margin-bottom: 30px;
}
main country-header figure,
main country-thumb figure,
main country-map figure {
  padding: 5px;
  border: 1px solid #ddd;
}
main country-header img,
main country-thumb img,
main country-map img {
  max-width: 100%;
  border-radius: 20px;
}
main country-header h3,
main country-thumb h3,
main country-map h3 {
  font-size: 2rem;
  font-style: italic;
  margin: 20px 0;
}
main country-header h1,
main country-thumb h1,
main country-map h1 {
  font-size: 3.4rem;
  margin: 15px 0;
}
main country-header p,
main country-thumb p,
main country-map p {
  font-size: 2.2rem;
}
main country-thumb {
  padding-right: 0;
}
main country-map {
  padding-right: 0;
}
main .article-block {
  margin-bottom: 10px;
  padding: 10px;
}
main .article-block h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
main .article-block ul {
  list-style: square inside;
  font-size: 1.6rem;
}
main .article-block p {
  font-size: 1.6rem;
}
main country-places {
  background-color: cornflowerblue;
}
main country-about {
  background-color: coral;
}
main country-clime {
  background-color: darkseagreen;
  margin-bottom: 30px;
}
main country-facts {
  background-color: indianred;
}
main country-stats {
  background-color: sandybrown;
}
main country-economics {
  background-color: mediumpurple;
}
main country-article {
  margin-bottom: 15px;
}
main country-article h3 {
  font-size: 3.4rem;
}
main country-article h4 {
  margin: 15px 0;
  font-size: 2.2rem;
  text-align: center;
}
main country-article p {
  font-size: 2rem;
  text-align: justify;
  line-height: 140%;
}
main .first-letter:first-letter {
  color: cornflowerblue;
  float: left;
  margin: 0 3px 0 -2px;
  font-size: 4rem;
}
main .main-article {
  clear: both;
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 140%;
  text-align: justify;
  columns: 2;
  column-gap: 30px;
}
main .fact-column {
  padding-right: 15px;
}
main .slide {
  width: calc(( 100% - 30px ) / 3);
  margin-right: 15px;
}
main .slide:last-of-type {
  margin-right: 50rem;
}
