@import "reset";
@import "core";
@import "variables";

html {
  font-size: 10px;
}

@font-face {
  font-family: 'Calibri Light';
  src: url("../fonts/calibril.ttf")
}

body {
  background-color: @substrate-white;
  font-family: 'Calibri Light', sans-serif;
  height: 100%;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-animation: Fade 0.6s 1 ease-in-out forwards;
  -moz-animation: Fade 0.6s 1 ease-in-out forwards;
  animation: Fade 0.6s ease-in-out
}

nav {
  ul {
    background-color: @europe;
    color: @white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    li {
      display: inline-block;
      padding: 15px;
      position: relative;
      a {
        color: @white;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    li{
      display: block;
    }
  }

}

main {
  margin-top: 80px;

  .country-embed {
    background: white;
    padding: 0 10px;
  }

  country-title {
    text-align: center;
    margin: 0 -10px;
    h3 {
      padding: 10px;
      background-color: @europe;
      color: @white;
      font-size: 4rem;
    }
    p{
      margin: 20px auto;
      font-size: 2.8rem;
      font-style: italic;
    }
  }

  country-header,
  country-thumb,
  country-map {
    text-align: center;
    padding-right: 15px;
    margin-bottom: 30px;
    figure{
      padding: 5px;
      border: 1px solid #ddd;
    }
    img {
      max-width: 100%;
      border-radius: 20px;
    }
    h3 {
      font-size: 2rem;
      font-style: italic;
      margin: 20px 0;
    }
    h1 {
      font-size: 3.4rem;
      margin: 15px 0;
    }
    p {
      font-size: 2.2rem;
    }
  }

  country-thumb {
    padding-right: 0;
  }

  country-map {
    padding-right: 0;
  }

  .article-block {
    margin-bottom: 10px;
    padding: 10px;
    h3 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 10px;
    }
    ul {
      list-style: square inside;
      font-size: 1.6rem;
    }
    p {
      font-size: 1.6rem;
    }
  }

  country-places {
    background-color: @article;
  }

  country-about {
    background-color: @info;
  }

  country-clime {
    background-color: @clime;
    margin-bottom: 30px;
  }

  country-facts {
    background-color: @facts;
  }

  country-stats {
    background-color: @stats;
  }

  country-economics {
    background-color: @economics;
  }

  country-article {

    margin-bottom: 15px;

    h3 {
      font-size: 3.4rem;
    }

    h4 {
      margin: 15px 0;
      font-size: 2.2rem;
      text-align: center;
    }

    p {
      font-size: 2rem;
      text-align: justify;
      line-height: 140%;
    }
  }

  .first-letter{
    &:first-letter{
      color: cornflowerblue;
      float: left;
      margin: 0 3px 0 -2px;
      font-size: 4rem;
    }
  }

  .main-article {
    clear: both;
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    line-height: 140%;
    text-align: justify;
    columns: 2;
    column-gap: 30px;
  }

  .fact-column {
    padding-right: 15px;
  }

  .slide {
    width: calc(e("( 100% - 30px ) / 3"));
    margin-right: 15px;
    &:last-of-type{
      margin-right: 50rem;
    }
  }


}


//
//.welcome {
//  text-align: center;
//  margin-top: 10%;
//
//  a{
//    color: honeydew;
//    font-weight: 600;
//    padding: 10px;
//    background-color: rgba(47, 47, 47, 0.39);
//    &:hover {
//      background-color: rgba(47, 47, 47, 0.69);
//    }
//  }
//}
//
//.flagnav {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-around;
//  margin-bottom: 5%;
//
//  a {
//    border:solid 1px seagreen;
//    border-radius: 100%;
//    padding: 0;
//    &:hover img, &:focus img {
//      filter: saturate(120%);
//      -webkit-filter: saturate(120%);
//      transition: ease 0.5s;
//    }
//  }
//  img {
//    filter: saturate(50%);
//    -webkit-filter: saturate(50%);
//  }
//}
//
//
//.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
//  background-color: seagreen;
//}
//
//.navmenu {
//  background-color: transparent;
//  border:none;
//  display: none;
//  margin: 8% auto;
//  color:honeydew;
//  font-weight: 600;
//  font-size: 1.8em;
//  ul {
//    padding: 0;
//    border:none;
//    box-shadow: none;
//    li a {
//      color: honeydew;
//      &[aria-expanded=false] {
//        background-color: transparent;
//      }
//      &[aria-expanded=false]:hover {
//        background-color: seagreen;
//      }
//    }
//  }
//}
//
//.dropmenu {
//  > .dropdown-menu {
//    -webkit-animation: Fade 0.6s 1 ease-in-out forwards;
//    -moz-animation: Fade 0.6s 1 ease-in-out forwards;
//  }
//  ul {
//    background-color: rgba(47, 47, 47, 0.39) !important;
//    li a {
//      font-size: 1.8em;
//      color: honeydew;
//      font-weight: 600;
//      &:hover {
//        background-color: seagreen;
//      }
//    }
//  }
//}
//
//.navheadermobile {
//  display: flex;
//  justify-content: center;
//  button {
//    background-color: rgba(47, 47, 47, 0.39);
//    border: none;
//    margin-right: 0;
//    &:hover {
//      background-color: rgba(47, 47, 47, 0.69);
//    }
//    &:focus {
//      background-color: rgba(47, 47, 47, 0.39);
//    }
//    &[aria-expanded=true] {
//      background-color: transparent;
//    }
//  }
//}
//
//@keyframes Fade {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}
//
//@media (max-width: 1024px) {
//  .flagnav img {
//    width:100px;
//    height:auto;
//  }
//}
//
//@media (max-width: 900px) {
//  .welcome {
//    font-size: 1.9em;
//  }
//
//  .navmenu {
//    font-size: 1.5em;
//  }
//
//  .dropmenu ul li a {
//    font-size: 1.5em;
//  }
//}
//
//@media (max-width: 770px) {
//  .flagnav img {
//    width:80px;
//    height:auto;
//  }
//
//  .navmenu {
//    font-size: 1.2em;
//
//  }
//
//  .dropmenu {
//    display: inline-block;
//    float:left;
//    ul li a {
//      font-size: 1.2em;
//    }
//  }
//
//  .welcome {
//    font-size: 1.5em;
//  }
//}
//
//@media (max-width: 680px) {
//
//  .navmenu {
//    margin-top: 2%;
//    font-size: 1em;
//  }
//
//  #menubutton {
//    margin:0;
//  }
//
//  .flagnav img {
//    width:70px;
//    height:auto;
//  }
//
//  .dropmenu ul li a {
//    font-size: 1em;
//    line-height: 15px !important;
//  }
//
//}
//
//@media (max-width: 570px) {
//  .flagnav img {
//    width:50px;
//    height:auto;
//  }
//
//  .welcome {
//    font-size: 1.4em;
//  }
//
//  .dropmenu {
//    max-width: 120px;
//    a {
//      padding: 10px 5px 10px 5px !important;
//    }
//    ul li a {
//      padding:3px 5px 3px 5px !important;
//    }
//  }
//
//  #mainm {
//    overflow-y: hidden;
//    li ul {
//      min-width: 120px;
//    }
//  }
//
//}
//
//@media (max-width: 450px) {
//
//  .dropmenu{
//    display: block;
//    float:none;
//  }
//
//  #mainm li > ul {
//    background-color: rgba(47, 47, 47, 0.39);
//  }
//
//  .flagnav img {
//    width:40px;
//    height:auto;
//  }
//
//  .welcome {
//    font-size: 1.15em;
//  }
//}
//
//@media  (max-height: 420px) and (orientation:landscape) {
//
//  .navmenu {
//    margin-top:0;
//  }
//
//  .dropmenu ul li a {
//    line-height: 15px !important;
//  }
//
//}
