html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, country-header, country-title, country-places, country-about,
country-clime, country-thumb, country-map, country-facts, country-stats, country-economics {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//This code prevents default appearance of input arrows

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none; //<- Crashes Chrome on hover *!
  -webkit-appearance: none;
  margin: 0;  //<-- Apparently some margin are still there even though it's hidden *!
}

input[type=number] {
  -moz-appearance: textfield;
}

//for Firefox - ugly outline happens when <a> is clicked

a {
  outline: none;
  text-decoration: none;
}

button::-moz-focus-inner {
  border: 0;
}

* {
  box-sizing: border-box;
}