/*COLORS*/

@white: #fff;
@substrate-white: #f5f5f5;
@europe: #00B2EE;
@asia: #FFA165;
@africa: #009A6A;
@america: #B45B2A;
@australia: #00B1A9;

@article: cornflowerblue;
@info: coral;
@clime: darkseagreen;
@facts: indianred;
@stats: sandybrown;
@economics: mediumpurple;

