<div class="container clearfix country-embed">
    <country-title></country-title>
    <country-header class="col-2-3"></country-header>
    <country-places class="col-1-3 article-block"></country-places>
    <country-about class="col-1-3 article-block"></country-about>
    <country-clime class="col-1-3 article-block"></country-clime>
    <p class="main-article first-letter">
        Вопросов о происхождении этого государства обычно не возникает: его название
        указывает на теснейшую историческую, этническую и лингвистическую связь с соседней Румынией.
        Самые древние следы человека на территории Молдавии относятся к раннему палеолиту (200-70 тыс. лет назад).
        С тех времен сохранились стоянки ашельской культуры (гроты Старые Дуруиторы). Здесь же в V-IV тысячелетиях
        до н. э. под влиянием нижнедунайской культуры Боян зарождается трипольская культура медно-каменного века.
        В бронзовом веке (ІІІ-II тысячелетия до н. э.) на территории Молдавии жили кочевые скотоводы.
        Многочисленные курганы свидетельствуют о том, что здесь расцвела культура Ноа и жили киммерийцы. Позже
        сюда приходят фракийцы (гето-даки), создавшие союзы племен на основе так называемой военной демократии.
        В І-IІІ вв. н. э. здешние земли пережили римское вторжение. Римляне оказали сильнейшее влияние на
        племена даков, создавших ранние формы государства. В результате процесса романизации гето-дакской культуры
        здесь зародился новый этнос — румыны (рум. români).  В 271 г. под давлением варваров римляне покинули
        Дакию. Местное романизированное население Дакии в основном было истреблено, и только скотоводы-кочевники
        из предгорий спаслись в труднодоступных кодрах (лесах на одноименной возвышенности). V-XI вв. — эпоха
        проникновения славян на территорию междуречья Днестра и Прута. Остатки выжившего после набегов варваров
        населения было ассимилировано славянами. До настоящего времени в Молдавии обнаружены следы более 30 славянских
        поселений VI—VII вв. и около 200 поселений VIII—IX вв. Мирной жизни местного населения помешала новая беда:
        кочевники. Печенеги, половцы (куманы) своими нескончаемыми набегами снизили численность здешнего населения до
        катастрофического уровня. Ситуация стала еще хуже, когда в 1237- 1240 гг., разгромив русские княжества,
        монголо-татары хлынули на Днестровско-Карпатские земли. Вскоре почти все они вошли в состав Золотой Орды.
        В XII—XIV вв., в результате переселения в Днестровско-Карпатские земли, основным населением междуречья становятся
        волохи — потомки тех, кто уцелел еще во времена набегов варваров. Именно волохи стали самым многочисленным
        этносом Молдавского княжества (XIV—XVI вв.), сформировавшегося после упадка Золотой Орды. В 1456 г. княжество
        попадает в вассальную зависимость от Турции, а в 1774 г., по Кючук-Кайнарджийскому мирному договору, Молдавия
        становится протекторатом России. По условиям Бухарестского мира 1812 г. эти земли отошли к России и стали называться
        Бессарабией. В ходе Гражданской войны в России (1917-1922/1923 гг.) в 1918 г. была провозглашена независимость
        Демократической Республики Молдова, и вскоре она вошла в состав Румынии. В 1940 г. в результате подписания Договора
        о ненападении между Германией и Советским Союзом (Пакт Молотова — Риббентропа, 1939 г.) Румыния лишилась Бессарабии
        и Северной Буковины, они стали Молдавской ССР в составе СССР. 23 июня 1990 г. Молдавская ССР выходит из состава СССР и
        заявляет о своем суверенитете, а 27 августа 1991 г. — о государственной независимости Республики Молдова. Тогда же в
        стране усилились настроения, связанные с желанием интеграции Молдавии и Румынии. В юго-восточных регионах республики,
        населенных преимущественно русскими и украинцами, однако, нашлось очень мало тех, кто желал стать гражданином Румынии,
        что привело к созданию Приднестровской Молдавской Республики со столицей в Тирасполе, пока никем не признанной.
    </p>
    <div class="col-1-3 fact-column">
        <country-facts class="article-block"></country-facts>
        <country-map></country-map>
        <country-stats class="article-block"></country-stats>
        <country-economics class="article-block"></country-economics>
    </div>
    <country-thumb class="col-2-3"></country-thumb>
    <country-article class="col-2-3"></country-article>

    <country-thumb class="col-1-3 slide"></country-thumb>
    <country-thumb class="col-1-3 slide"></country-thumb>
    <country-thumb class="col-1-3 slide"></country-thumb>
</div>