<div class="container clearfix country-embed">
    <country-title></country-title>
    <country-header class="col-2-3"></country-header>
    <country-places class="col-1-3 article-block"></country-places>
    <country-about class="col-1-3 article-block"></country-about>
    <country-clime class="col-1-3 article-block"></country-clime>
    <p class="main-article first-letter">
        Когда-то территорию современной Норвегии населяли норманнские племена, которые основали
        небольшое государство. К VIII в. земли были уже густо заселенными, но при этом бесплодными,
        что заставляло жившие здесь племена бесконечно воевать друг с другом и искать счастья
        «на стороне». Именно тогда и появились отважные викинги — «доблестные мореходы», которые
        организовывали почетные экспедиции, то есть грабительские набеги сначала на соседние территории,
        а затем и более отдаленные. В результате этих морских экспедиций викинги завладели Фарерскими,
        Шетландскими, Гебридскими и Оркнейскими островами, побережьем Ирландии и Шотландии. Викинги
        обосновались в Исландии, закрепились в Гренландии и стали первыми европейцами, достигшими
        Северной Америки: около 1000 г. они организовали первое поселение в Канаде. Первым королем
        Норвегии стал Харальд I Прекрасноволосый, завладевший большой
        частью Скандинавского полуострова и начавший процесс объединения государства. В 1319 г. норвежский
        престол унаследовал трехлетний Магнус Эриксон, ставший королем Швеции. А в 1397 г. на основании
        Кальмарской унии произошло объединение трех скандинавских королевств — Швеции, Норвегии и Дании.
        В 1523 г. Швеция обрела независимость, уния развалилась, но Дания в одностороннем порядке объявила
        Норвегию своей провинцией. Сложноподчиненные взаимоотношения двух стран продолжались до тех пор,
        пока Дания не была вынуждена уступить Норвегию королю Швеции. С 1814 г. вступила в силу
        Шведско-Норвежская уния, в которой Швеция не теряла надежды подмять под себя Норвегию, а
        Норвегия усердно старалась сохранить свою независимость. Разрыв унии произошел в 1905 г. в
        результате всенародного референдума. В Норвегии была провозглашена независимость. Во время
        Первой мировой войны страна сохранила нейтралитет и не участвовала в военных альянсах до 1940 г.,
        когда подверглась нападению со стороны Германии. После войны Норвегия стала членом НАТО — при
        условии, что в мирное время ни одна страна не будет размещать на ее территории военные силы.
        В 1994 г. в стране был проведен референдум по поводу ее участия в Европейском союзе. Большинство
        граждан проголосовало против, и это неудивительно, если принять во внимание сильное экономическое
        положение государства.
    </p>
    <div class="col-1-3 fact-column">
        <country-facts class="article-block"></country-facts>
        <country-map></country-map>
        <country-stats class="article-block"></country-stats>
        <country-economics class="article-block"></country-economics>
    </div>
    <country-thumb class="col-2-3"></country-thumb>
    <country-article class="col-2-3"></country-article>

    <country-thumb class="col-1-3 slide"></country-thumb>
    <country-thumb class="col-1-3 slide"></country-thumb>
    <country-thumb class="col-1-3 slide"></country-thumb>
</div>


                <!--<div class="row">-->

                    <!--<div class="col-lg-4 col-sm-4 col-md-6 col-xs-12 side">-->


                            <!--<div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                                <!--<div class="modal-dialog" role="document">-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
                                            <!--<img src="img/atlas/norway/norway.jpg" class="img-rounded center-block img-responsive">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 mainside">-->



                            <!--<div class="modal fade" id="lake" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                                <!--<div class="modal-dialog" role="document">-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
                                            <!--<img src="img/atlas/norway/lake.jpg" class="img-rounded center-block img-responsive">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->

                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
                        <!--<div class="thumbnail">-->
                            <!--<a data-toggle="modal" data-target="#saami"><img src="img/atlas/norway/saami.jpg" class="img-responsive img-rounded"></a>-->
                            <!--<div class="caption">-->
                                <!--<p class="thumbtext"><em>Саамы (лопари) — малый народ, живущий в северной части страны.</em></p>-->
                            <!--</div>-->

                            <!--<div class="modal fade" id="saami" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                                <!--<div class="modal-dialog" role="document">-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
                                            <!--<img src="img/atlas/norway/saami.jpg" class="img-rounded center-block img-responsive">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
                        <!--<div class="thumbnail">-->
                            <!--<a data-toggle="modal" data-target="#fjord"><img src="img/atlas/norway/fjord.jpg" class="img-responsive img-rounded"></a>-->
                            <!--<div class="caption">-->
                                <!--<p class="thumbtext"><em>Фьорды — естественная часть здешних дорог.-->
                                    <!--Потрясающие разнообразные ландшафты привлекают в Норвегию множество туристов.-->
                                <!--</em></p>-->
                            <!--</div>-->

                            <!--<div class="modal fade" id="fjord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                                <!--<div class="modal-dialog" role="document">-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
                                            <!--<img src="img/atlas/norway/fjord.jpg" class="img-rounded center-block img-responsive">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stawkirke">-->
                        <!--<div class="thumbnail">-->
                            <!--<a data-toggle="modal" data-target="#stawkirke"><img src="img/atlas/norway/stawkirke.jpg" class="img-responsive img-rounded"></a>-->
                            <!--<div class="caption">-->
                                <!--<p class="thumbtext"><em>Ставкирка на Согне-фъорде — одна из 28 сохранившихся средневековых-->
                                    <!--деревянных церквей Норвегии.</em></p>-->
                            <!--</div>-->

                            <!--<div class="modal fade" id="stawkirke" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                                <!--<div class="modal-dialog" role="document">-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
                                            <!--<img src="img/atlas/norway/stawkirke.jpg" class="img-rounded center-block  img-responsive">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container-fluid">-->
    <!--<div class="row footer">-->
        <!--<div class="col-lg-12">-->
            <!--<div class="row">-->
                <!--<nav class="col-lg-12 col-md-12 col-xs-12 navbar navmenu" role="navigation">-->
                    <!--<div class="container-fluid">-->
                        <!--<div class="navbar-header navheadermobile">-->
                            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainm">-->
                                <!--МЕНЮ-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<ul class="nav navbar-nav collapse navbar-collapse" id="mainm">-->
                            <!--<li class="dropmenuhome"><a class="toanchor" href="#top">-->
                                <!--НАВЕРХ-->
                            <!--</a></li>-->
                            <!--<li role="presentation" class="dropdown dropmenu">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--ЕВРОПА <span class="caret"></span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu drop-1">-->
                                    <!--<li><a href="norway.html">Норвегия</a></li>-->
                                    <!--<li><a href="moldova.html">Молдова</a></li>-->
                                    <!--<li><a href="odessa.html">Одесса</a></li>-->
                                    <!--<li><a href="croatia.html">Хорватия</a></li>-->
                                    <!--<li><a href="scotland.html">Шотландия</a></li>-->
                                    <!--<li><a href="greece.html">Греция</a></li>-->
                                    <!--<li><a href="russia.html">Россия</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->

                            <!--<li role="presentation" class="dropdown dropmenu">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--АЗИЯ <span class="caret"></span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu drop-2">-->
                                    <!--<li><a href="china.html">Китай</a></li>-->
                                    <!--<li><a href="india.html">Индия</a></li>-->
                                    <!--<li><a href="japan.html">Япония</a></li>-->
                                    <!--<li><a href="#">Таиланд</a></li>-->
                                    <!--<li><a href="#">Индонезия</a></li>-->
                                    <!--<li><a href="#">Турция</a></li>-->
                                    <!--<li><a href="#">Грузия</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->

                            <!--<li role="presentation" class="dropdown dropmenu">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--АФРИКА <span class="caret"></span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu drop-3">-->
                                    <!--<li><a href="egypt.html">Египет</a></li>-->
                                    <!--<li><a href="#">Тунис</a></li>-->
                                    <!--<li><a href="#">Марокко</a></li>-->
                                    <!--<li><a href="#">Нигерия</a></li>-->
                                    <!--<li><a href="#">Конго</a></li>-->
                                    <!--<li><a href="#">ЮАР</a></li>-->
                                    <!--<li><a href="#">Мадагаскар</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->

                            <!--<li role="presentation" class="dropdown dropmenu">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--АМЕРИКА <span class="caret"></span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu drop-4">-->
                                    <!--<li><a href="#">США</a></li>-->
                                    <!--<li><a href="canada.html">Канада</a></li>-->
                                    <!--<li><a href="#">Мексика</a></li>-->
                                    <!--<li><a href="#">Куба</a></li>-->
                                    <!--<li><a href="#">Бразилия</a></li>-->
                                    <!--<li><a href="#">Перу</a></li>-->
                                    <!--<li><a href="#">Аргентина</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->

                            <!--<li role="presentation" class="dropdown dropmenu">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--АВСТРАЛИЯ <span class="caret"></span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu drop-5">-->
                                    <!--<li><a href="#">Австралия</a></li>-->
                                    <!--<li><a href="#">Новая Зеландия</a></li>-->
                                    <!--<li><a href="kiribati.html">Кирибати</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</nav>-->
                <!--<a href="index.html"><img src='img/logo/europe.jpg' class='img-responsive center-block'></a>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->