<h3 class="bold italic">Общие сведения</h3>
<ul>
    <li><span class="bold">Официальное название:</span> Королевство Норвегия.</li>
    <li><span class="bold">Столица:</span> Осло (584 292 чел. (2009 г.), городская агломерация — 876 391 чел.).</li>
    <li><span class="bold">Крупнейшие города:</span> Осло, Берген, Ставангер, Тронхейм.</li>
    <li><span class="bold">Денежная единица:</span> норвежская крона.</li>
    <li><span class="bold">Религия: </span>лютеране (84%), католики (4,8%), мусульмане (3,3%) и др.</li>
    <li><span class="bold">Крупнейшие аэропорты:</span> Форнебу и Гардермуэн (Осло).</li>
</ul>