<h3 class="bold italic">Экономика</h3>
<p>
    <span class="bold">Промышленность:</span> энергетическая (лидер по добыче нефти и газа в Западной Европе, гидроэнергетика),
металлургическая, лесная, целлюлозно-бумажная, химическая, рыбообрабатывающая, машиностроение,
судостроение.
    <span class="bold">Сельское хозяйство:</span> животноводство.
    <span class="bold">Рыболовство.</span>
    <span class="bold"> Туризм</span></p>