<h3 class="bold italic">Цифры</h3>
<ul>
    <li><span class="bold">Общая площадь: </span>385 252 км2. Население: 4 850 440 чел. (декабрь 2009 г.).</li>
    <li><span class="bold">Плотность населения: </span>12,6 чел./км2.</li>
    <li><span class="bold">Самая высокая точка: </span>Галлхёпигген (2469 м).</li>
    <li><span class="bold">Длина береговой линии: </span>около 21 930 км, без фьордов — 2650 км.</li>
    <li><span class="bold">Острова: </span>50 000 (некоторые из них пред-ставляют собой голые камни), для жизни
    пригодны только 2000 из них.</li>
    <li><span class="bold">Границы: </span>2542 км: 1619 км со Швецией, 727 км с Финляндией, 196 км с Россией.</li>
</ul>