<h3>Одна из богатейших стран мира</h3>
<h4>Огромный экономический потенциал не единственное благо этой северной страны.
Не меньшее богатство — ее природа с удивительным горным рельефом, заснеженными вершинами
и лесистыми склонами, быстрыми реками и чистыми озерами.
</h4>
<p class="first-letter">
Если включить фантазию и представить Скандинавский полуостров в виде льва, то Норвегия будет
его гривастой головой и позвоночником. Почти треть территории страны лежит за пределами
Северного полярного круга. Основная часть населения проживает в южной части страны,
в окрестностях столицы Осло. Второй по величине город Норвегии — Берген, находящийся на
западном побережье. Это не только крупный порт и центр нефтяной промышленности, но и главный
туристический город страны. Его старинная Купеческая набережная внесена в список Всемирного
наследия ЮНЕСКО. Между Осло и Бергеном проложен самый длинный автомобильный туннель в мире —
24,5 км. Берген еще называют и столицей фьордов.
Многие особенности рельефа Норвегии — глубокие долины, бороздящие нагорья, — сформировались
в ледниковый период. Во время таяния ледников были затоплены низовья этих долин, так
образовались фьорды — узкие морские заливы, глубоко врезающиеся в материк. Они стали особой
приметой норвежского пейзажа. Благодаря им береговая линия этой страны очень длинная — почти
22 тысячи км. В Норвегии еще осталось много ледников (Юстедальсбре — крупнейший в Европе).
Большое число норвежцев зарабатывают на жизнь рыболовством. Но кроме рыбы море у берегов
Норвегии таит в себе и нефть — сокровище, которое и превратило норвежцев в один из самых
богатых народов мира. В конце шестидесятых годов, когда было обнаружено значительное количество
нефти в Северном и Норвежском морях, государство стало независимым в энергетическом плане.
Нефти оказалось более чем достаточно для того, чтобы стабилизировать экономику этой некогда
бедной страны. Низкий уровень безработицы, который годами колеблется в Норвегии между 2% и 3%,
— мечта всех других государств. При учете богатства, которое дают стране ее природные ресурсы,
мудрые норвежцы не особенно заинтересованы в развитии массового туризма. Высокие цены не
способствуют росту количества приезжающих сюда иностранцев, тем самымспособствуя сохранению
норвежской природы. Однако состоятельных людей не может не манить магия этой суровой земли
с ее фьордами и водопадами, пушистыми игрушечными троллями и толстыми шерстяными свитерами,
с ее белыми ночами, которые длятся два месяца в году (в мае и июне), и ясным небом, которое
часто становится единственным средством сообщения с отдаленными северными районами, где нет
дорог.
</p>