<h3 class="bold italic">Климат</h3>
<p>Субарктический морской на севере и умеренный на юге, с прохладным летом и мягкой для этих широт
зимой (благодаря течению Гольфстрим). Средняя температура: -4...0*С в январе, +14...16*С в июле.
</p>