<h3 class="bold italic">Достопримечательности</h3>
<ul>
    <li><span class="bold">Согне-фьорд:</span> деревянные церкви в Боргунде, Хеддапе, Урнесе;</li>
    <li><span class="bold">Осло:</span> Национальный музей искусства, Музей Мунка, Музей кораблей викингов, парк скульптур Вигеланда;</li>
    <li>Город-музей Берген;</li>
    <li>Белые ночи на мысе Нордкап и Лофотенских островах.</li>
</ul>