<figure>
    <img src="img/atlas/norway/schpietzbergen.jpg" class="img-responsive img-rounded">
    <figcaption>
        <h3 class="thumbtext">Архипелаг Шпицберген, фьорд Магдалена.</h3>
    </figcaption>
</figure>
<h1>Царство Викингов</h1>
<p>Викинги правили этой страной около 500 лет. В начале прошлого тысячелетия Норвегия сформировала альянс с Данией и
    Швецией.
</p>