<h3 class="bold italic">Любопытные факты</h3>
<ul>
    <li>Традиционный норвежский алкогольный напиток — аквавит (вода жизни). Один
    из его видов — «линье-аквавит» («линье» означает «экватор» — в дубовых бочках везут на
    кораблях в южное полушарие и обратно: двукратное пересечение экватора невероятным образом
    сказывается на качестве напитка, который только после этого разливается в бутылки).
    </li>
    <li>Норвежские лыжники и биатлонисты — одни из лучших в мире — регулярно завоевывают золотые
    медали на международных соревнованиях.
    <li>Прославленные норвежцы: Эдвард Григ, Генрик Ибсен, Эдвард Мунк, путешественники Руал Амундсен,
    Фритьоф Нансен, Тур Хейердал.</li>
    <li>Только в Скандинавии можно видеть средневековые деревянные церкви
    с остроконечными крышами — ставкирки.
    В Норвегии существует 28 таких церквей.
    </li>
</ul>
