<figure>
    <img src="img/atlas/norway/lake.jpg" class="img-responsive img-rounded">
    <figcaption>
        <h3>Многочисленные горные озера расположены в живописных местах, где человеческое
            вмешательство сведено к минимуму.</h3>
    </figcaption>
</figure>